nav{
    background-color: purple;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: center;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
}

.nav_items{
    background-color: rgb(197, 197, 226);
    padding: 10px 30px 10px 30px;
}

#main_body{
    background-color: rgb(255, 154, 38);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: center;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

div.column{
    background-color: rgb(253, 195, 120);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: center;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

footer{
    background-color: purple;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: center;
    justify-content: space-around;
    align-items: centers;
    height: 60px;
    width: 100%;
}
